<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.book.pong_v4"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.book.pong_v4.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.book.pong_v4.StartScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="com.book.pong_v4.MenuScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name="com.book.pong_v4.GameActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        
    </application>

</manifest>
